$primary-color: #0B0D17;
$secondary-color: #D0D6F9;
$white-color: #FFFFFF;
$bellefair-font: "Bellefair", "sans-serif";
$barlow-font: "Barlow", "sans-serif";
$barlow-font-condensed: "Barlow Condensed", "sans-serif";
$heading1-size: 150px;
$heading2-size: 100px;
$heading3-size: 56px;
$heading4-size: 32px;
$heading5-size: 28px;
$subheading1-size: 28px;
$subheading2-size: 14px;
$navtext-size: 16px;
$bodytext-size: 18px;
$bodytext-lineheight: 32px;